@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  /* Primary */
  --Gradient: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));

  /* Neutral */
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-color: var(--Very-Dark-Blue);
  background-image: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  min-width: 375px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  padding: 3rem;
  margin-top: -17rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icons-and-logo {
  min-width: 310px;
  padding: 3rem 7rem 2.5rem 3rem;
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 8px 80px 8px 8px;
  box-shadow: rgba(3, 3, 49, 0.25) 0px 13px 27px -5px,
    rgb(3, 1, 22) 0px 15px 20px -8px;
}
.logo img {
  width: 130px;
  margin-bottom: 10px;
}
.icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--Dark-Blue);
}
.bg-icons-color {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons img {
  background-color: var(--Dark-Blue);
}
/* End of icons box */

/* starts of progress bar box  */
.text-and-progress-bar {
  min-width: 310px;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 8px;
  background-color: var(--Dark-Blue);
  box-shadow: rgba(3, 3, 49, 0.25) 0px 13px 27px -5px,
    rgb(3, 1, 22) 0px 15px 20px -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-and-progress-bar p {
  font-weight: 200;
  color: var(--Grayish-Blue);
  margin-bottom: 20px;
}
.text-and-progress-bar p span {
  font-weight: bold;
  color: var(--Pale-Blue);
}

.progress-bar-dark {
  min-width: 260px;
  height: 19px;
  border: 1px solid #121b44;
  border-radius: 10px;
  background: #121b44;
  display: flex;
  align-items: center;
  position: relative;
}

.progress-bar-dark::before {
  content: "0 GB";
  color: var(--Pale-Blue);
  position: absolute;
  top: 28px;
  font-weight: 700;
}
.progress-bar-dark::after {
  content: "1000 GB ";
  color: var(--Pale-Blue);
  position: absolute;
  right: 0;
  top: 28px;
  font-weight: 700;
}

.absolute-message {
  width: 190px;
  height: 70px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffffd;
  border-radius: 8px;
  text-transform: uppercase;
  color: var(--Grayish-Blue);
  font-weight: 700;
  position: absolute;
  bottom: -650%;
  left: 10%;
}
/* .absolute-message::after {
  content: "";
  width: 0;
  height: 0;

  border-top: 20px solid #fffffd;
  border-left: 20px solid transparent;
  border-bottom: 20px solid green transparent;
  border-right: 20px solid transparent;
  position: absolute;
  top: 80%;
  right: -10px;
  transform: rotate(90deg);
} */
.span-no {
  font-size: 35px;
  font-weight: 700;
  color: #000;
  padding-right: 5px;
}

.progress-bar-gragient {
  width: 185px;
  height: 13px;
  border-radius: 10px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  position: relative;
}
.progress-bar-gragient::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: 1px;
  top: 1px;
}
@media (min-width: 1000px) {
  body {
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -1rem;
    margin-bottom: -6.5rem;
  }
  .text-and-progress-bar {
    margin-top: 3.4rem;
    min-width: 550px;
  }
  .text-and-progress-bar p {
    margin-left: -16rem;
  }
  .progress-bar-dark {
    min-width: 500px;
  }
  .absolute-message {
    top: -650%;
    left: 310px;
  }
  .absolute-message::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #fffffd;
    border-left: 20px solid transparent;
    border-bottom: 20px solid green transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 80%;
    right: -10px;
    transform: rotate(90deg);
  }
  .progress-bar-gragient {
    width: 380px;
  }
}
